.wrapper {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.teal {
    background: teal;
}

.teal-text {
    color: #f9f9ff;
}

.darkBlue {
    background: darkslateblue;
}

.darkBlue-text {
    color: white;
}

