.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.loader {
    width: 100px;
    height: 100px;
    margin: 50px auto;
    border-radius: 50%;
    border: 3px dashed darkblue;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}