* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    width: 33.33%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar a:hover {
    background-color: #000;
}

.navbar a.active {
    background-color: #04AA6D;
}


